body {
  text-align: center;
  background-color: black;
  color: white;
}

#header {
  font-family: 'Bungee Outline', cursive;
  font-size: 60px;
}

.initially-hidden {
  display: none;
}

/*flash area*/
.flash {
  height: 150px;
  font-size: 140px;
}

/*side panels*/
h2 {
  font-size: 55px;
}

/*center column */
.center-column {
  background-image: url(../img/pong.gif);
  background-size: cover;
  border: medium solid white;
  margin-bottom: 20px;
}

/*log*/
#logDiv {
  height: 60px;
}

#logDiv h4 {
  font-family: 'Bungee Outline', cursive;
  font-size: 25px;
}

/*range display*/
.clickable:hover {
  color: #46b8da;
}

@media screen and (max-width: 1100px)  {
  .flash {
    font-size: 75px;
  }
}
@media screen and (max-width: 350px)  {
  .flash {
    display: none;
  }
  .center-column {
    padding-top: 25px;
  }
}
